<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<style type="text/css">
  body {
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  }
  .white {
    color:aliceblue;
  }
</style>
</head>


<body >
  <div class="container" style="margin-top: 100px;">
    {{!-- title: { type: String, required: true },
  description: { type: String },
  photo: { type: String, default: 'https://www.pinclipart.com/picdir/big/416-4160500_you-wont-have-any-technical-issues-to-deal.png' },
  creator: { type: mongoose.ObjectId, ref: 'user' },
  createdAt: { type: Date, default: Date.now() },
  projectType: [String],
  genre: [String],
  staff: [{ type: mongoose.ObjectId, ref: 'user' }],
  roles: [{ type: String, required: true }],
  location: String, --}}
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        
        <h1 class="white">Создание события</h1>
        {{#if event}}
        <form method="POST" action='/events/{{event._id}}?_method=PUT'> 
        {{!-- <input type="hidden" name="_method" value="PUT"> --}}
        {{else}}
        <form method="POST" action='/events'>
        {{/if}}
          <div class="form-group">
            <label for="location" class="white">Город</label>
            <input type="text" name="location" class="form-control" id="location" value="{{event.location}}" placeholder="Москва">
          </div>
          <div class="form-group">
            <label for="title" class="white">Название проекта</label>
            <input type="text" name="title" class="form-control" id="title" value="{{event.title}}" placeholder="Название">
          </div>

          <div class="form-group">
            <label for="title" class="white">Фото проекта</label>
            <input type="url" name="photo" class="form-control" id="url" value="{{event.photo}}" placeholder="Ссылка на картинку">
          </div>

          <div class="form-group">
            <label for="projectType" class="white">Тип проекта</label>
            <select name="projectType" class="form-control" id="projectType">
              <option value="Короткометражка" selected>Короткометражка</option>
              <option value="Полнометражка">Полнометражка</option>
            </select>
          </div>
          <div class="form-group">
            <label for="genre" class="white">Жанры проекта</label>
            <select multiple name="genre" class="form-control" id="genre">
              <option value="Комедия" selected>Комедия</option>
              <option value="Драма">Драма</option>
              <option value="Трагедия">Трагедия</option>
              <option value="Ужасы">Ужасы</option>
            </select>
          </div>
          <div class="form-group">
            <label for="roles" class="white">Вакансии</label>
            <select multiple name="roles" class="form-control" id="roles">
              <option value="Режиссер" selected>Режиссёр</option>
              <option value="Продюсер">Продюсер</option>
              <option value="Актер">Оператор</option>
              <option value="Сценарист">Сценарист</option>
              <option value="Звукорежиссер">Звукорежиссер</option>
              <option value="Композитор">Композитор</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description" class="white">Описание проекта</label>
            <textarea class="form-control" name="description" id="description" value="{{event.description}}" rows="3">{{event.description}}</textarea>
          </div>
          <div class="form-group">
            <br>
            {{#if event}}
            <button type="submit" class="btn btn-info">Изменить проект</button>
            {{else}}
            <button type="submit" class="btn btn-info">Создать проект</button>
            {{/if}}
          </div>
        </form>
      </div>
      <div class="col-4">
        <div class="home" style="text-align: end; padding:20px;"><a href="/users/profile">❌</a></div>
      </div>
    </div>
  </div>

</body>

</html>
