<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Event Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/event/img/favicon.png" rel="icon">
  <link href="/event/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/event/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/event/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/event/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/event/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/event/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/event/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/event/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Event - v4.0.0
  * Template URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="/"><span>&#9733;</span>Cinema Star</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/event/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">На главную</a></li>
          <li><a class="nav-link scrollto" href="#about">О событии</a></li>
          <li><a class="nav-link scrollto" href="#team">Собери команду</a></li>
          <li><a class="nav-link scrollto" href="/users/profile">Личный кабинет</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active"
            style="background-image: url('https://rtvi.com/upload/iblock/776/7764c2cfc043def4c1dfb6be2f699dc5.jpg')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Открытые позиции: {{event.roles}}</h2>
                <p class="animate__animated animate__fadeInUp">{{event.title}}</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">О событии</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://pbs.twimg.com/media/D978WimWsAENdQU.jpg')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Открытые позиции: {{event.roles}}</h2>
                <p class="animate__animated animate__fadeInUp">{{event.title}}</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">О событии</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('https://cdn.wallpapersafari.com/5/99/BA7YM1.jpeg')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Открытые позиции: {{event.roles}}</h2>
                <p class="animate__animated animate__fadeInUp">{{event.title}}</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">О событии</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>О событии</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <a href="#">
                  <img src="{{event.photo}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head">Описание проекта</h4>
                </a>
                <p>
                  {{event.description}}
                  {{event._id}}
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check"></i> {{event.title}}
                  </li>
                  <li>
                    <i class="bi bi-check"></i> {{event.creator.firstName}} {{event.creator.lastName}}
                  </li>
                  <li>
                    <i class="bi bi-check"></i> {{event.genre}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
          <div class="section-headline text-center">
            <br>
            <br>
            <h4>Уже в проекте</h4>
          </div>
          <hr>
          {{#each staff}}
          <div class="col-md-2 col-sm-10 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{this.photo}}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="/events/fire/{{this._id}}/{{../event._id}}">
                        <i class="bi">Уволить</i>
                      </a>
                    </li>
                    <li>
                      <a href="/users/profile/{{this._id}}">
                        <i class="bi">Портфолио</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>{{this.firstName}} {{this.lastName}}</h4>
                <p>{{this.role}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Собери команду</h2>
            </div>
          </div>
        </div>
        <div class="row">
          {{#each users}}
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img" style="height:auto;">
                <a href="#">
                  <img src="{{this.photo}}" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="/events/hire/{{this._id}}/{{../event._id}}">
                        <i class="bi">Нанять</i>
                      </a>
                    </li>
                    <li>
                      <a href="/users/profile/{{this._id}}">
                        <i class="bi">Портфолио</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>{{this.firstName}}{{this.lastName}}</h4>
                <p>{{this.role}}</p>
              </div>
            </div>
          </div>
          {{/each}}
          <!-- End column -->

        </div>
        <!-- End column -->
      </div>
    </div>
    </div><!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <div id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/c5eef897-dfb2-42a3-bc17-d5346f5dc587/600x900"
                  class="testimonial-img" alt="">
                <h3>Квентин Тарантино</h3>
                <h4>Режиссер &amp; Сценарист</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Классные ребята!! Всем советую!!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/833c0672-eb56-4796-a299-577b87cc267a/600x900"
                  class="testimonial-img" alt="">
                <h3>Дэвид Финчер</h3>
                <h4>Режиссер &amp; Сценарист</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  В 1987 году объединившись с тремя режиссерами Домиником Сена, Найджелом Диком и Грегом Голдом основал
                  киностудию Propaganda.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/6ffa06f4-eab0-4bfc-aaf8-f54980dd549a/600x900"
                  class="testimonial-img" alt="">
                <h3>Гай Ричи</h3>
                <h4>Продюсер &amp; Актер</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  До своего режиссерского дебюта в кино занимался тем, что снимал рекламу и делал демо-ролики для
                  музыкальных коллективов.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/a62839f1-3ecf-47be-bb1e-71495c744539/600x900"
                  class="testimonial-img" alt="">
                <h3>Аль Пачино</h3>
                <h4>Актер &amp; Режиссер &amp; Продюсер &amp; Сценарист</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  До своего режиссерского дебюта в кино занимался тем, что снимал рекламу и делал демо-ролики для
                  музыкальных коллективов.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/9c33caef-be28-4257-b7ed-a407698f1a32/600x900"
                  class="testimonial-img" alt="">
                <h3>Леонардо ДиКаприо</h3>
                <h4>Актер &amp; Продюсер &amp; Сценарист</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Когда Лео было всего 2,5 года, отец отвел его на популярное детское телешоу - это стало первым
                  появлением будущего актера перед камерой.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div><!-- End Testimonials Section -->

    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center">
              <h3>Добро пожаловать в наш проект</h3>
              <a class="sus-btn" href="#">О событии</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Suscribe Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Контакты</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi bi-phone"></i>
                  <p>
                    Звони: +1 5589 55488 55<br>
                    <span>Понедельник-Пятница (9:00-18:00)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi bi-envelope"></i>
                  <p>
                    Email: info@example.com<br>
                    <span>Web: www.example.com</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi bi-geo-alt"></i>
                  <p>
                    Расположение: A108 Adam Street<br>
                    <span>NY 535022, USA</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Start Google Map -->
            <div class="col-md-6">
              <!-- Start Map -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
                width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
              <!-- End Map -->
            </div>
            <!-- End Google Map -->

            <!-- Start  contact -->
            <div class="col-md-6">
              <div class="form contact-form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Ваше сообщение"
                      required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Отправить сообщение</button></div>
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>&#9733;</span>Cinema Star</h2>
                </div>

                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Информация</h4>
                <div class="footer-contacts">
                  <p><span>Телефон:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Рабочее время:</span> 9:00-17:00</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="/event/img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="/event/img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="/event/img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="/event/img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="/event/img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="/event/img/portfolio/6.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>Event</strong>. All Rights Reserved
              </p>
            </div>
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Event
            -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/event/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/event/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/event/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/event/vendor/php-email-form/validate.js"></script>
  <script src="/event/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/event/js/main.js"></script>

</body>

</html>
